html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1 {
    background-image: url(image1.png);
    min-height: 100%;
}
.pimg2 {
    background-image: url(image2.png);
    min-height: 400px;
}
.pimg3 {
    background-image: url(image3.png);
    min-height: 400px;
}
.pimg4 {
    background-image: url(image4.png.jpg);
    min-height: 80%;
}
.pimg5 {
    background-image: url(image5.jpg);
    min-height: 80%;
}
.pimg6 {
    background-image: url(image6.jpg);
    min-height: 100%;
}
.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textbg {
    background: #313534;
    color: #fff;
    padding: 20px;
}

.section {
    padding: 50px 80px;
    text-align: center;
}
.section-light {
    background-color: #f4f4f4;
    color: #666;

}
.section-dark {
    background-color: #282e34;
    color: #ddd;
}